# Sounds: ignore Audacity files and .wav source files
sounds/*
!sounds/*.ogg

# VS code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.dll
dist/
build/
log.txt
*.wav
*.bak
reindent.py